In [1]:
import pandas as pd

In [28]:
df=pd.read_csv('train_and_test2.csv')

**1.How big is data?**

In [29]:
df.shape

(1309, 28)

**2.how data looks?**

In [30]:

# remove unnceesrly coloumn
df=df[['Passengerid','Age','Fare','Sex','Pclass','Embarked','2urvived']]
df=df.rename(columns={'2urvived':'Survived'})
df.sample(5)

     Passengerid   Age      Fare  Sex  Pclass  Embarked  Survived
806          807  39.0    0.0000    0       1       2.0         0
258          259  35.0  512.3292    1       1       0.0         1
867          868  31.0   50.4958    0       1       2.0         0
188          189  40.0   15.5000    0       3       1.0         0
303          304  28.0   12.3500    1       2       1.0         1

**3.what is data type?**

In [31]:
df.info()
# convert unneccesay float values into int

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Passengerid  1309 non-null   int64
 1   Age          1309 non-null   float64
 2   Fare         1309 non-null   float64
 3   Sex          1309 non-null   int64
 4   Pclass       1309 non-null   int64
 5   Embarked     1307 non-null   float64
 6   Survived     1309 non-null   int64
dtypes: float64(3), int64(4)
memory usage: 71.7 KB

**4.Missing values?**

In [32]:
df.isnull().sum()

Passengerid    0
Age            0
Fare           0
Sex            0
Pclass         0
Embarked       2
Survived       0
dtype: int64

**5.How data Looks Mathematical?**

In [33]:
df.describe()

,Passengerid,Age,Fare,Sex,Pclass,Embarked,Survived
count,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1307.000000,1309.000000
mean,655.000000,29.503186,33.281086,0.355997,2.294882,1.492731,0.261268
std,378.020061,12.905241,51.741500,0.478997,0.837836,0.814626,0.439494
min,1.000000,0.170000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,328.000000,22.000000,7.895800,0.000000,2.000000,1.000000,0.000000
50%,655.000000,28.000000,14.454200,0.000000,3.000000,2.000000,0.000000
75%,982.000000,35.000000,31.275000,1.000000,3.000000,2.000000,1.000000
max,1309.000000,80.000000,512.329200,1.000000,3.000000,2.000000,1.000000

**6.Duplicate Values**

In [35]:
df.duplicated().sum()

0

**7.How is the corealtion between cols?**

In [36]:
df.corr()
#pearson co realtion

,Passengerid,Age,Fare,Sex,Pclass,Embarked,Survived
Passengerid,1.000000,0.025799,0.031128,-0.013406,-0.038354,-0.051518,-0.331493
Age,0.025799,1.000000,0.178182,-0.053663,-0.377908,-0.065125,-0.055862
Fare,0.031128,0.178182,1.000000,0.185681,-0.558683,-0.239212,0.173786
Sex,-0.013406,-0.053663,0.185681,1.000000,-0.124617,-0.099408,0.404020
Pclass,-0.038354,-0.377908,-0.558683,-0.124617,1.000000,0.187349,-0.244686
Embarked,-0.051518,-0.065125,-0.239212,-0.099408,0.187349,1.000000,-0.093225
Survived,-0.331493,-0.055862,0.173786,0.404020,-0.244686,-0.093225,1.000000