In [1]:
import pandas as pd

In [ ]:
df=pd.read_csv('csv files/aug_train.csv')
df

In [ ]:
 ####reading tsv file/////by defualt sep is ','
tv=pd.read_csv("csv files/sample-1.tsv",sep='\t')
tv

In [ ]:
##index_col paramenter###
pd.read_csv('csv files/aug_train.csv',index_col="enrollee_id")
#now enrollee col will be treated like index

In [ ]:
###header paramenter
pd.read_csv('csv files/test.csv',header=1)
#first  row of data will start from 1 and 0 will become col  name

In [ ]:
#########usecols  paramenter---- only neccesary columns can be extracted
pd.read_csv('csv files/aug_train.csv',usecols=['enrollee_id','city','gender'])

In [ ]:
##skip rows
pd.read_csv('csv files/aug_train.csv',skiprows=[0,3])

In [ ]:
###nrows
pd.read_csv('csv files/aug_train.csv',nrows=100)
###will give first 100 row of data

In [ ]:
#encoding parameter
pd.read_csv('csv files/zomato.csv',encoding='latin-1')

In [ ]:
##skip bad lines
pd.read_csv('csv files/aug_train.csv',on_bad_lines='skip')
# does not give eror in bad lines instesd skips that line

In [ ]:
#dtypes parameter
pd.read_csv('csv files/aug_train.csv').info()
#here last col is in float which takkes more memory
pd.read_csv('csv files/aug_train.csv',dtype={'target':int})

In [ ]:
#handeling dates
pd.read_csv('csv files/IPL Matches 2008-2020.csv').info()
#date is now a object or string we have to change it in date
pd.read_csv('csv files/IPL Matches 2008-2020.csv',parse_dates=['date']).info()

In [ ]:
#####Convertors ----used to apply some conversing operation on a colums

def rename(name):
    if(name=='Royal Challengers Bangalore'):
        return 'RCB'
    else:
        return name
pd.read_csv('csv files/IPL Matches 2008-2020.csv',converters={'team1':rename})

In [ ]:
######na_value parameter

pd.read_csv('csv files/aug_train.csv',na_values=['Male'])
#now male value will be replaced by nan

In [64]:
#loading a huge dataset in chunks
dfs=pd.read_csv('csv files/aug_train.csv',chunksize=5000)
for it in dfs:
    print(it.shape)

(5000, 14)
(5000, 14)
(5000, 14)
(4158, 14)